body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
}

/* create a ruleset for all of these elements */
header, main, footer{
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

/* ================ the header elements===========================*/
header {
	padding: 25px 0 25px 0;
	background: white;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}

h1 {
	float: left;
	width: 570px;
	font-family: 'Ubuntu', sans-serif;
	font-style:italic;
	color: #B33;
}

header nav {
	float: right;
	width: 285px;
	font-size: 25px;
}

/* ================ the main elements===========================*/
main {
	background: white;
	border-radius: 0 5px 5px 5px;
	padding: 40px;
	overflow: auto;
}
main .left {
	float:left;
	width: 570px;
}
main .right {
	float: right;
	width: 285px;
}

#FAQ h3 {
	float: left;
	
	font-family: 'Ubuntu', sans-serif;
	font-style:italic;
	color: #B33;
}

label{
    display: inline-block;
    width: 150px;
    padding: 0 10px;
    vertical-align: middle;
}
input{
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    padding: 2px 10px 2px 10px;
    font-size: 20px;
}

input[type="text"]{
    height: 1.4em;
    line-height: 1.4pem;
    border-radius: 5px;
    padding: 10px 10px;
    vertical-align: middle;
    color: #666;
}
input[type="submit"]{
    padding: 0px 10px;
    height: 30px;
}
#signup form > p  {
	font-size: xx-small;
	font-style: italic;
	color: gray;
}

/*============== the footer elements=====================*/
footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}
footer .Contact {
	float: left;
	width:570px;
}

footer .Contact p:nth-child(2) {
	font-style:italic;
	color: #B33;
}
footer .sitemap {
	float: right;
	width: 285px;
}
footer.sitemap .h5 {
   float: left;
 
}
footer .sitemap .left {
    float: left;
}

footer .sitemap .right {
    float: right;
}


/*================ change the link color ===================*/
a {
	color: #B33;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color: red;
}
a:hover {
	color: blue;
	text-decoration: underline;
}