body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
}

/* create a ruleset for all of these elements */
header, main, footer{
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

/* ================ the header elements===========================*/
header {
	padding: 25px 0 25px 0;
	background: white;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}
header h1 {
	float: left;
	width: 570px;
	font-style:italic;
}
header nav {
	float: right;
	width: 285px;
	font-size: 16px;
}

/* ================ the main elements===========================*/
main {
	background: white;
	overflow: auto;
}
main .left {
	float:left;
	width: 570px;
}
main .right {
	float: right;
	width: 285px;
}

/*================= the footer elements=========================*/
footer .Contact {
	float: left;
	width:570px;
}
footer .Contact div p:first-child {
	font-style:italic;
}
footer .sitemap {
	float: right;
	width: 285px;
}
footer .sitemap .left {
    float: left;
}

footer .sitemap .right {
    float: right;
}

a {
	color: cornflowerblue;
	text-decoration: none;
}

a:visited {
	color: tomato;
}

a:hover {
	text-decoration: underline;
}